.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: load 1s infinite linear;
}
@keyframes load {
  to {
    transform: rotate(1turn);
  }
}

.li-countries {
    cursor: pointer;
    width: fit-content;
}

.li-countries:hover {
    background-color: #CDCDCD;
}
